<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome to ClimaCloset</h1>

  <div>
    <a href="/clothing"><button>Clothing Items</button></a>
    <a href="/outfits"><button>Outfits</button></a>
    <a href="/account"><button>Account</button></a>
  </div>
</body>
</html>
