<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome to ClimaCloset</h1>

  <div>
    <form action="/clothing" method="GET">
      <input type="hidden" name="userId" value="<%= user.userId %>" />
      <button type="submit">Clothing Items</button>
    </form>
    <form action="/outfits" method="GET">
      <button type="submit">Outfits</button>
    </form>
    <form action="/account" method="GET">
      <input type="hidden" name="userId" value="<%= user.userId %>" />
      <button type="submit">Account</button>
    </form>
  </div>
</body>
</html>
